/*-- this file content styles:
    - onboarding
 --*/

:focus {
  outline: none;
}

#carousel-login {
  z-index: 1;
}

#carousel-login .item::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(180.37deg, rgba(255, 255, 255, 0.8) 65.45%, rgba(0, 0, 0, 0.8) 95.13%);
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
  border-radius: 16px 16px 0 0;
}

.carousel {
  opacity: 0;
  z-index: 0;
  display: none;
}

.carousel.active {
  opacity: 1;
  z-index: 1;
  display: block;
}

#carousel-login .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.carousel .item .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 0;
}

.carousel .item .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1
}

#carousel-login .item .content .logoNavenuLogin {
  margin-top: 4rem;
}

#carousel-login .item .content .textLogin {
  z-index: 2;
}

.carousel .item .content {
  width: 100%;
  height: 100%;
}

.carousel .item .content h1 {
  font-family: 'BourtonBase Regular';
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 2rem;
  width: 100%
}

.carousel .item.four h1 {
  margin-top: 8rem;
}

.carousel .item.four .buttonsLogin {
  position: absolute;
  bottom: 5rem;
  padding: 0 1.5rem;
}

.carousel .item.four .buttonsLogin .btn,
.sign-up .btnApple,
.registerMail .buttonsLogin .btn {
  margin: .5rem 0;
  width: 100%;
  font-family: 'BourtonBase Regular';
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
  align-items: center;
  text-align: center;
  letter-spacing: 0.307692px;
  border-radius: 0;
}

.carousel .item.four .buttonsLogin .btn span,
.registerMail .sign-up .btn,
.registerMail .buttonsLogin .btn span {
  display: block;
  margin-bottom: .2rem;
}

.carousel .item.four .buttonsLogin .btnFb,
.registerMail .buttonsLogin .btnFb {
  background: #3B5998;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.carousel .item.four .buttonsLogin .btnFb span:before,
.registerMail .buttonsLogin .btnFb span:before {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url(../images/icons/onboarding/iconFb.svg);
  background-size: 16px 16px;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
}

.carousel .item.four .buttonsLogin .btnApple,
.sign-up .btnApple {
  background: #FFFFFF;
  border: 3px solid #000000;
  color: #000000;
}

.carousel .item.four .buttonsLogin .btnApple span:before,
.registerMail .buttonsLogin .btnApple span:before {
  width: 13px;
  height: 16px;
  margin-right: 5px;
  background-image: url(../images/icons/onboarding/iconApple.svg);
  background-size: 13px 16px;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
}

.registerMail .buttonsLogin .btnApple,
.carousel .item.four .buttonsLogin .btnEmail {
  color: #333333;
  background: #FFFFFF;
  border: 3px solid #000000;
}

.carousel .item.four .buttonsLogin .btnEmail span:before {
  width: 19px;
  height: 14px;
  margin-right: 5px;
  background-image: url(../images/icons/onboarding/iconEmail.svg);
  background-size: 19px 14px;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
}

.carousel .item.is-selected .content {
  transform: translateX(0px);
}

.carousel .item.is-before-selected .content {
  transform: translateX(calc(((100vw - 100%)/2 + 5vw)));
}

.carousel .item.is-after-selected .content {
  transform: translateX(calc(((100vw - 100%)/2 + 5vw)*-1));
}

.carousel .flickity-prev-next-button {
  height: 100%;
  width: 10%;
  border-radius: 0;
  background-color: transparent;
}

.carousel .flickity-prev-next-button.next {
  right: 0;
}

.carousel .flickity-prev-next-button.previous {
  left: 0;
}

.carousel .flickity-prev-next-button:focus {
  box-shadow: none;
}

.carousel .flickity-prev-next-button svg {
  display: none;
}

#carousel-login .item.is-selected::before {
  width: 100%;
  height: 100%;
  background-color: #2E9F26;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sliderUrl {
  width: 100%;
  height: 100%;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
  background: #FFF;
}

/* white circles */
.flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
  margin: 0 7.5px;
  -webkit-transition: .4s opacity, .4s transform;
  -o-transition: .4s opacity, .4s transform;
  transition: .4s opacity, .4s transform;
  -webkit-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
}

.registerMail {
  opacity: 0;
  transition: opacity .5s;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  z-index: 0;
}

.registerMail.active {
  opacity: 1;
  z-index: 1;
}

.registerMail .bkgnd {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 0;
}

.registerMail .bkgnd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.registerMail .content {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.registerMail .iconClose .buttonClose {
  position: fixed;
  top: 1.5rem;
  left: .5rem;
  line-height: .5;
  opacity: 1;
  cursor: pointer;
  z-index: 99999999;
  padding: 0;
  background: transparent;
  border: none;
}

.registerMail h2 {
  font-family: 'BourtonBase regular';
  font-weight: normal;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 1.25rem;
}

.registerMail label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.22px;
  color: #FFFFFF;
}

.registerMail .form-group input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  align-items: center;
  padding: 1.5rem .5rem;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.registerMail .loginMail {
  padding: 1.5rem;
  width: 100%;
  margin-top: 5rem;
}

.registerMail .buttonsLogin {
  width: 100%;
  padding: 0 1.5rem;
  position: absolute;
  bottom: 1rem;
}

.registerMail .sign-up {
  padding: 1rem 0;
}

.registerMail .btn.btnAccount {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, .3);
  border-width: 1px 0 1px 0;
  background: transparent;
  margin-left: -.75rem;
  margin-right: -.75rem;
  width: 107.5%;
}

.registerMail .btn.btnAccount:focus,
.registerMail .btn.btnAccount:active {
  background: transparent;
  border: 1px solid #FFFF;
  border-width: 1px 0 1px 0;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.7rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.7rem;
}

:-ms-input-placeholder {
  font-size: 0.7rem;
}

/*-------- responsive styles ------------*/
@media(max-width:767px) {}
