/*-- this file content styles:
    - feed
 --*/
:focus {
  outline: none;
}

#carousel-home {
  z-index: 1;
}

#carousel-home .item::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(180.37deg, rgba(255, 255, 255, 0.8) 65.45%, rgba(0, 0, 0, 0.8) 95.13%);
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
  border-radius: 16px 16px 0 0;
}

.carousel {
  opacity: 0;
  transition: opacity .5s;
  z-index: 0;
  height: 0;
}

.carousel.active {
  opacity: 1;
  z-index: 1;
  height: auto
}

#carousel-home .item {
  height: 100vh;
  width: 90vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.carousel .item .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 16px 16px 0 0;
}

.carousel .item .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1
}

#carousel-home .item .sponsorContent {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
}

#carousel-home .item .sponsorContent.active {
  opacity: 1;
}

#carousel-home .item .sponsorContent h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 11.088px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 1.848px;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-bottom: .5rem
}

#carousel-home .item .sponsorContent img {
  float: right;
}

#carousel-home .item .content {
  position: absolute;
  z-index: 2;
  left: 2.5vh;
  bottom: 8vh;
  width: 90%;
}

.carousel .item .content h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.carousel .item .content h1 {
  font-family: 'BourtonBase Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 40.3201px;
  line-height: 40px;
  letter-spacing: 0.143087px;
  color: #FFFFFF;
}

.carousel .item.is-selected .content {
  transform: translateX(0px);
}

.carousel .item.is-before-selected .content {
  transform: translateX(calc(((100vw - 100%)/2 + 5vw)));
}

.carousel .item.is-after-selected .content {
  transform: translateX(calc(((100vw - 100%)/2 + 5vw)*-1));
}

.carousel .flickity-prev-next-button {
  height: 100%;
  width: 10%;
  border-radius: 0;
  background-color: transparent;
}

.flickity-button:hover {
    background: transparent !important;
}

.carousel .flickity-prev-next-button.next {
  right: 0;
}

.carousel .flickity-prev-next-button.previous {
  left: 0;
}

.carousel .flickity-prev-next-button:focus {
  box-shadow: none;
}

.carousel .flickity-prev-next-button svg {
  display: none;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 25px;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sliderUrl {
  width: 100%;
  height: 100%;
}

#carousel-home .tags {
  display: flex;
  width: 100%;
  align-items: center;
}

.profileHomeArticle {
  display: flex;
  align-items: center;
}

.profileHomeArticle .profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
}

#carousel-home .tags p {
  margin-bottom: 0;
  color: #F2F2F2;
}

#carousel-home .tags .tagLeft {
  display: contents;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.116667px;
  text-transform: none;
  align-items: center;
}

#carousel-home .tags .text-left {
  padding-left: .5rem;
}

#carousel-home .tags .tagRight {
  position: absolute;
  right: 0;
  float: right;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.116667px;
  align-items: center;
}

.btn.contentCard {
  line-height: normal;
}

/*-------- responsive styles ------------*/
@media(max-width:767px) {
  #carousel-home .item .content h1 {
    font-size: 2.5em;
    width: 90%;
  }

  #carousel-home .item {
    height: 82.5vh;
    width: 93vw;
  }
}

/*------- only iphone 8 -------*/
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {}

/*------- only iphone X -------*/
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  #carousel-home .item {
    height: 85vh;
    width: 93vw;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {}
