/*  	CSS Reset    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

/*------------ regular styles navenu ----------------*/
body {
  color: #000;
  background-color: #F2F2F2;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #1883ba;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 18px;
}

h2 {
  font-size: 18px;
}

a.btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}

button:focus,
button.btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

/*------ menu -------*/
.navbar {
  padding: 0 .75rem;
}

.navbar-toggler {
  padding: .25rem 0 .25rem .5rem;
}

.menuTop {
  background-color: #F2F2F2;
}

.menuBottom {
  background-color: #F2F2F2;
}

.iconMap {
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.iconMap .map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem .5rem .25rem 0;
  object-fit: contain;
  opacity: 1;
  transition: opacity .5s;
}

.iconMap .stories {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem .5rem .25rem 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}

.iconMap.active .map {
  opacity: 0;
  transition: opacity .5s;
}

.iconMap.active .stories {
  opacity: 1;
}

.iconMenu {
  margin-bottom: 4px;
}

.nav-item.active {
  border-bottom: solid 6px #676767;
}

.nav-item.active .nav-link {
  padding-bottom: 1px;
}

.menuFilter span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}

.menuFilter.collapsed .filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 1;
  transition: opacity .5s;
}

.menuFilter.collapsed .back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}

.menuFilter .filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 0;
}

.menuFilter .back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 1;
}

.iconsFilter ul li img {
  vertical-align: middle;
  padding: .35rem 0.25rem;
}

.iconsFilter ul li.active {
  border: none;
}

.iconsFilter ul li.active img {
  background: #FF6800;
  border-radius: 7.91336px;
  vertical-align: middle;
  padding: .35rem 0.45rem;
}

.iconsFilter .nav-link {
  padding: .5rem .3rem;
}

.iconsFilter .nav-item.active .nav-link {
  padding-bottom: .5rem;
}

p.location {
  font-family: 'Helvetica Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p.textFilter {
  font-family: 'BourtonBase Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 12.3474px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #333333;
}

.elastic-scroll-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  width: 40px;
  margin: 0 auto;
  z-index: 5;
  margin-top: -1.25rem;
}

.elastic-scroll {
  width: 40px;
  height: 40px;
  display: block;
}

p.textButtonDown {
  font-family: 'Helvetica Bold';
  font-size: 7.05602px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2.016px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.maps {
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
  height: 90vh;
  position: relative;
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  overflow: auto;
  z-index: 0;
}

.containerMap {
  position: absolute;
}

.maps.active {
  opacity: 1;
  z-index: 1;
}

/*------- modal content ------*/
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
  border-radius: 0;
}

.modal.bottom .modal-body {
  padding: 2rem 1rem;
  border-radius: 16px 16px 0 0;
  background-color: #FFFFFF;
  margin-top: -1rem;
}

/* Bottom */
.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

/* Full Screen */
.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

.modal .close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  line-height: .5;
  opacity: 1;
  cursor: pointer;
  z-index: 99999999;
}

.modal-header {
  position: relative;
  height: 35vh;
  padding: 0;
  border: none;
}

.modal-header::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.85%, #000000 100%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
}

.modal-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.buttonRedeem {
  font-family: 'Helvetica Bold';
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.307692px;
  padding: .5rem;
  color: #000000;
  background: #FFB600;
  border: 3px solid #000000;
  border-radius: 8px;
  width: 100%;
}

.modalHeaderText {
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem 2rem 1rem;
}

.modalHeaderText h1 {
  font-family: 'BourtonBase regular';
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.141952px;
  color: #FFFFFF;
  margin-bottom: .5rem;
}

.modalHeaderText .tags .tagLeft {
  font-family: 'Helvetica Bold';
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.modalHeaderText .tags .tagRight {
  font-family: 'Helvetica Regular';
  font-size: 14px;
  letter-spacing: 0.116667px;
  color: #F2F2F2;
}

.modal-body h3 {
  font-family: 'BourtonBase Regular';
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.116667px;
  color: #292929;
}

/*-------- responsive styles --------*/
/*-------- iphone X -------*/
@media (max-width:375px) {
  .iconsFilter ul li img {
    vertical-align: middle;
    padding: .35rem 0.225rem;
  }

  .iconsFilter .nav-link {
    padding: .5rem .15rem;
  }
}

@media (max-width:768px) {
  .modal .close {
    top: 1rem;
    right: 1rem;
  }
}
