/*  	CSS Reset    */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

/*------------ regular styles navenu ----------------*/
body {
  color: #000;
  background-color: #F2F2F2;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #1883ba;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 18px;
}

h2 {
  font-size: 18px;
}

a.btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}

button:focus,
button.btn:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.center-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*------ menu -------*/
.navbar {
  padding: 0 .75rem;
}

.navbar-toggler {
  padding: .25rem 0 .25rem .5rem;
}

.menuTop {
  background-color: #F2F2F2;
}

.menuBottom {
  background-color: #F2F2F2;
}

.nav-link {
  padding: .5rem;
}

.iconMap {
  position: relative;
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.iconMap .map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .5rem .5rem .5rem 0;
  object-fit: contain;
  opacity: 1;
  transition: opacity .5s;
}

.iconMap .stories {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .5rem .5rem .5rem 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
  background-color: transparent;
}

.iconMap.active .map {
  opacity: 0;
  transition: opacity .5s;
}

.iconMap.active .stories {
  opacity: 1;
}

.iconShadow {
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.nav-item.active {
  border-bottom: solid 6px #676767;
}

.nav-item.active .nav-link {
  padding-bottom: 1px;
}

.menuFilter span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}

.menuFilter.collapsed .filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .5rem 0 .5rem 1rem;
  object-fit: contain;
  opacity: 1;
  transition: opacity .5s;
}

.menuFilter.collapsed .back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;
}

.menuFilter .filter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .25rem 0 .25rem 1rem;
  object-fit: contain;
  opacity: 0;
}

.menuFilter .back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .5rem 0 .5rem 1rem;
  object-fit: contain;
  opacity: 1;
}

.iconsFilter {
  width: 100%;
  height: 13vh;
  align-items: baseline;
}

.iconsFilter button {
  border-radius: 6px !important;
  background: transparent;
  transition: background-color .3s linear;
  margin: 0 auto;
}

.iconsFilter button.active {
  border-radius: 6px !important;
}

.iconsFilter button:after {
  width: 100%;
  font-family: 'BourtonBase Regular';
  font-size: 12.3474px;
  text-align: center;
  color: #333333;
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  margin-bottom: -1.5rem;
}

.iconsFilter button.do:after {
  content: 'do';
}

.iconsFilter button.do.active {
  background: #FFB600;
}

.iconsFilter button.eat:after {
  content: 'eat';
}

.iconsFilter button.eat.active {
  background: #FF6800;
}

.iconsFilter button.drink:after {
  content: 'drink';
}

.iconsFilter button.drink.active {
  background: #C849D9;
}

.iconsFilter button.shop:after {
  content: 'shop';
}

.iconsFilter button.shop.active {
  background: #FF2894;
}

.iconsFilter button.stay:after {
  content: 'stay';
}

.iconsFilter button.stay.active {
  background: #007CFF;
}

.iconsFilter button.fit:after {
  content: 'fit';
}

.iconsFilter button.fit.active {
  background: #00BC00;
}

.iconsFilter .nav-link {
  padding: .25rem;
  margin: .25rem;
  height: 7.5vh;
}

.iconsFilter .nav-item.active .nav-link {
  padding-bottom: .5rem;
}

.contentIconsFilter {
  width: 100%;
}

p.location {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p.textFilter {
  font-family: 'BourtonBase Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 12.3474px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #333333;
}

.elastic-scroll-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: .5rem;
  width: 40px;
  margin: 0 auto;
  z-index: 5;
  margin-top: -1.25rem;
}

.elastic-scroll {
  width: 40px;
  height: 40px;
  display: block;
}

p.textButtonDown {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 7.05602px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2.016px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.maps {
  opacity: 0;
  transition: opacity .5s;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: auto;
  z-index: 0;
}

.containerMap {
  position: absolute;
}

.maps.active {
  opacity: 1;
  z-index: 1;
}

.menuBottom {
  width: 100%;
}

.menuBottom ul li {
  padding-bottom: .5rem;
}

.menuBottom ul li a.iconShadow {
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.containerMenuBottom {
  width: 100%;
}

.iconSearch {
  /* margin-bottom: -2px; */
}

/*------- modal content ------*/
.modalCard {
  z-index: 1998;
}

.modalLocation {
  z-index: 1999;
}

.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
  border-radius: 0;
}

.modal.bottom .modal-body {
  padding: 2rem 1rem 6rem;
  background: #F2F2F2;
  border-radius: 24px 24px 0px 0px;
  margin-top: -2rem;
}

/* Bottom card fade */
.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

/* Full Screen */
.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

.modal .close {
  position: fixed;
  top: 2rem;
  right: 3rem;
  line-height: .5;
  opacity: 1;
  cursor: pointer;
  z-index: 99999999;
}

.modal-header {
  position: relative;
  height: 35vh;
  padding: 0;
  border: none;
}

.modal-header::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.85%, #000000 100%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
}

.modal-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modalHeaderText {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem 1rem 2.5rem 1rem;
}

.modalHeaderText h1 {
  font-family: 'BourtonBase regular';
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.141952px;
  color: #FFFFFF;
  margin-bottom: .5rem;
}

.tags {
  display: inline-block;
  width: 100%;
}

.tags .tagLeft {
  display: inline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.tags .tagRight {
  display: inline;
  float: right;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.116667px;
  color: #F2F2F2;
}

.modal-body h3 {
  font-family: 'BourtonBase Regular';
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.116667px;
  color: #292929;
  margin-bottom: 1rem;
}

.modal-body p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  margin-bottom: 1rem;
}

.modal-image {
  position: relative;
  margin-bottom: 1rem;
}

.modalImageText {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.modalImageText h1 {
  font-family: 'BourtonBase regular';
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.141952px;
  color: #FFFFFF;
  margin-bottom: .25rem;
}

.modalImageText p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2F2F2;
}

.iconCardLocation {
  margin-top: -1.5rem;
  padding: 0;
}

.rainbow {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0 2 5 / 0.3), rgba(0, 0, 0, 0)) 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 1rem;
}

.modal-video {
  position: relative;
  margin-bottom: 1rem;
}

.iconPlayVideo {
  padding: 0;
}

.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFFFFF;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
}

.buttonRedeem {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.307692px;
  padding: .5rem;
  color: #000000;
  background: #FFB600;
  border: 3px solid #000000;
  border-radius: 8px;
  width: 100%;
}

/*----------- modal locations ----------*/
.modalLocation {
  background: rgba(0, 0, 0, 0.8);
}

.modalLocation .modal-body {
  padding: 2rem 1rem;
}

.modalLocation .modal-content {
  border-radius: 1rem;
}

/* Bottom location fade */
.modal.bottox.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}

.modal.bottox.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottox.fade .modal-dialog {
  bottom: -100%;
}

.modalLocation .modal-header {
  position: relative;
  height: 40vh;
  padding: 0;
  border: none;
}

.modalLocation .modal-content {
  background-color: #F2F2F2;
}

.modalLocation .modal-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: .5rem;
}

.modalLocation .modalHeaderText {
  padding: 1rem;
}

.modalLocation .modalHeaderText h1 {
  font-family: 'BourtonBase regular';
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.141952px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.modalLocation .modalHeaderText p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F2F2F2;
}

/*----- tabs cards -----*/
.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.modalLocation .locationMenuTab .nav-link {
  padding: .5rem 1rem;
}

.modalLocation .locationMenuTab .nav-link.share {
  padding: 0;
}

.modalLocation .locationMenuTab a {
  font-family: 'SF UI Display Regular';
  font-size: 12px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.modalLocation .locationMenuTab a.active {
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  border: none;
}

.modalLocation .locationContentTab p.textCard {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #292929;
}

.modalLocation .locationContentTab #nav-info .sliderTab,
.modalLocation .locationContentTab #nav-info-article .sliderTab {
  overflow-x: scroll;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 1.5rem 0;
}

.modalLocation .locationContentTab #nav-info .sliderTabContent,
.modalLocation .locationContentTab #nav-info-article .sliderTabContent {
  width: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sliderTabContent .col-auto {
  padding-left: 0;
}

.sliderTabContent .col-auto:last-child {
  padding-right: 0;
}

.modalLocation .locationContentTab #nav-info .sliderTabContent img,
.modalLocation .locationContentTab #nav-info-article .sliderTabContent img {
  width: 112px;
  height: 112px;
  object-fit: cover;
  display: block;
}

.modalLocation .locationContentTab #nav-info-article .mapCard,
.modalLocation .locationContentTab #nav-info .mapCard {
  width: 100%;
  height: 25vh;
  position: relative;
  object-fit: contain;
  overflow: auto;
  margin: 1rem 0;
}

.containerMapCard {
  position: absolute;
}

.containerMapCard .imageMapCard {
  width: 150%;
}

.modalLocation #nav-directions,
.modalLocation #nav-directions-article {
  min-height: 50vh;
  background: #FFFA8A;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.229753px;
  color: #000000;
  padding: 2rem 1rem;
}

.locationContentTab .loc-address-times {
  border-top: none;
}

.modalLocation #nav-reserve,
.modalLocation #nav-reserve-article {
  min-height: 50vh;
  background: #FFFA8A;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.229753px;
  color: #000000;
  padding: 2rem 1rem;
}

.modalLocation .locationContentTab #nav-store .sliderTab,
.modalLocation .locationContentTab #nav-store-article .sliderTab {
  overflow-x: scroll;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 1.5rem 0;
}

#nav-store .sliderTabContent .col-auto,
#nav-store-article .sliderTabContent .col-auto {
  padding-left: 0.75rem;
}

#nav-store .sliderTabContent .col-auto:first-child,
#nav-store-article .sliderTabContent .col-auto:first-child {
  padding-left: 0;
}

#nav-store .sliderTabContent .col-auto:last-child,
#nav-store-article .sliderTabContent .col-auto:last-child {
  padding-right: 0;
}

.modalLocation .locationContentTab #nav-store .sliderTabContent,
.modalLocation .locationContentTab #nav-store-article .sliderTabContent {
  width: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
}

.modalLocation .locationContentTab #nav-store .sliderTabContent img,
.modalLocation .locationContentTab #nav-store-article .sliderTabContent img {
  width: 285px;
  height: 210px;
  object-fit: cover;
  display: block;
}

.modalLocation .locationContentTab #nav-store-article .sliderTabContent .dealContent .dealImage::before,
.modalLocation .locationContentTab #nav-store .sliderTabContent .dealContent .dealImage::before {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000 -40.51%, rgba(0, 0, 0, 0) 32.41%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
}

h1.titleMedium {
  font-family: 'BourtonBase Regular';
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.116667px;
  color: #000000;
}

#nav-store .dealImage,
#nav-store-article .dealImage {
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
}

#nav-store .dealValue,
#nav-store-article .dealValue {
  position: absolute;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.229753px;
  color: #000000;
  right: .5rem;
  bottom: .75rem;
  padding: 6px 12px;
  background: #FFFFFF;
  border-radius: 33px;
  margin-bottom: 0;
}

#nav-store .dealInfo,
#nav-store-article .dealInfo {
  position: relative;
}

#nav-store .dealInfo .dealTitle,
#nav-store-article .dealInfo .dealTitle {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

#nav-store .dealInfo .dealDescription,
#nav-store-article .dealInfo .dealDescription {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  max-width: 75vw;
  margin-bottom: 0;
}

/*------ modal article modal -------*/
.modal.modalArticleCard .modal-body {
  padding: 2rem 1rem;
}

.modalArticleCard .modal-header {
  position: relative;
  height: 27.5vh;
  padding: 0;
  border: none;
}

.profileArticle {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.profileArticle .profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.profileArticle p {
  margin-left: 1rem;
  margin-bottom: 0;
}

/*------ modal lightbox -------*/
.modalLightbox {
  z-index: 2001;
  background: rgba(0, 0, 0, .9);
}

.modal.modalLightbox .close {
  position: relative;
  top: .5rem;
}

#image {
  width: 100%;
}

/*-------- responsive styles --------*/
/*-------- iphone X -------*/
@media (max-width:375px) {
  .iconsFilter ul li img {
    vertical-align: middle;
    padding: .35rem 0.225rem;
  }
}

@media (max-width:768px) {
  .modal .close {
    top: 1rem;
    right: 1rem;
  }

  .modalLocation .modal .close {
    top: 1.5rem;
    right: 1.5rem;
  }
}
